@import "../../common.scss";

.container {
  box-sizing: border-box;
  width: 25%;
  padding: 1rem;
  text-align: center;
}

.stretchy {
  box-sizing: border-box;
  padding-bottom: 75%;
  position: relative;
}

.video {
  box-sizing: border-box;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.thumbnail {
  background-color: black;
  height: 65%;
  width: 100%;
}

.videoInfo {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 35%;
  font-size: 0.95rem;
  padding-top: 5px;
}

.image {
  box-sizing: border-box;
  flex-basis: 60px;
  text-align: left;
  img {
    width: 32px;
    height: 40px;
    border-radius: 50%;
  }
}

.description {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-weight: 400;
  font-size: 0.85rem;
  color: $text-grey;
}
