@import "../../common.scss";

.sideBar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 70px;
  position: sticky;
  top: $header-height;
  background-color: white;
}

.item {
  @include flexCenter;
  flex-direction: column;
  flex-basis: 5rem;
  font-size: 0.7rem;
  @include buttonBehavior($light-grey);
  path {
   fill: $mid-grey;
  }
}
