@import "../../common.css";

.sideBar {
  box-sizing: border-box;
  flex-grow: 1;
  width: 12%;
  height: 100%;
  position: sticky;
  top: 9vh;
  background-color: white;
}

.sideBar td {
  position: relative;
  text-align: center;
}

.icon {
  height: 10px;
  padding-top: 10px;
}

.label {
  position: relative;
  top: -12px;
  font-size: 11px;
  padding-bottom: 20px;
}
