@import "../../common.scss";

.sideBar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
  position: fixed;
  top: $header-height;
  background-color: white;
}

.item {
  @include flexCenter;
  flex-direction: column;
  flex-basis: 80px;
  font-size: 11px;
  @include hover($light-grey);
  path {
   fill: $mid-grey;
  }
}
