@import "../../common.css";

.sideBar {
  width: 5%;
}

.sideBar td {
  position: relative;
  left: -5px;
  text-align: center;
}

.icon {
  height: 10px;
  padding-top: 10px;
}

.label {
  position: relative;
  top: -5px;
  font-size: 11px;
  margin-top: -10px;
  padding-bottom: 20px;
}
