@import "../../common.scss";

.drawer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1 0 15rem;
  height: 100vh;
  position: sticky;
  top: $header-height;
  background-color: white;
  overflow-y: scroll;
}

.item {
  @include flexCenter;
  @include clickTrans($light-grey);
  justify-content: flex-start;
  font-size: 0.9rem;
  height: 3rem;
  padding-left: 3rem;
  path {
   fill: $mid-grey;
  }
}

.icon {
  margin-right: 1rem;
}
