@import "../../common.scss";

.header {
  display: flex;
  box-sizing: border-box;
  height: $header-height;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $border-grey;
  position: sticky;
  z-index: 10;
  top: 0;

  div {
    display: flex;
    align-items: center;
  }
}

.menuIcon {
  margin: 0 26px 0 14px;
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  @include hover($border-grey);
  @include flexCenter;
}

.logo {
  font-weight: bold;
  path {
   fill: red;
  }
}

.search {
  flex: 0 0 70%;
}

.searchBar {
  box-sizing: border-box;
  height: 60%;
  width: 60%;
  padding: 0 1rem;
  border: 1px solid $border-grey;
  margin-left: 8rem;
}

.searchBar:focus {
  outline-width: 0;
  border: 1px solid blue;
}

.searchIcon {
  box-sizing: border-box;
  height: 60%;
  width: 60px;
  background-color: $light-grey;
  border: 1px solid $border-grey;
  justify-content: center;
}

.iconBar {
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
  margin-right: 2%;
}

.icon {
  margin-right: 20px;
  text-align: center;
  border-radius: 50%;
  @include hover;

  path {
   fill: $dark-grey;
  }

}
