// Colors
$grey: #e6e6e6;
$border-grey: rgba(0, 0, 0, 0.2);
$text-grey: rgba(0, 0, 0, 0.7);
$light-grey: rgba(0, 0, 0, 0.05);
$mid-grey: rgba(0, 0, 0, 0.55);
$dark-grey: rgba(0, 0, 0, 0.65);
$action-color: rgba(0, 0, 0, 0.5);
$red: #ff0000;
$dark-red: #cc0000;
$click-color: rgba(0, 0, 0, 0.2);

// Sizes
$header-height: 60px;


// Mixins

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin actionText {
  font-weight: 700;
  color: $action-color;
}

@mixin colorIconChildren($color) {
  path {
    fill: $color;
  }
}

@mixin iconButton {
  background-color: inherit;
  border: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  svg {
    border-radius: 50%;
    path {
      color: $action-color
    }
  }
}

@mixin clickTrans($hover-color: inherit, $click-color: $click-color) {
  transition: background-color 0.2s;
  &:hover {
    background-color: $hover-color;
  }
  &:active {
    background-color: $click-color;
  }
}

@mixin button($icon-color: $action-color) {
  display: inline-flex;
  align-items: center;
  background-color: initial;
  border: none;
  outline: none;
  cursor: pointer;

  span {
    @include flexCenter;
    &.icon {
      flex: 2;
      @include colorIconChildren($icon-color);
    }
    &.text {
      justify-content: flex-start;
      flex: 5;
    }
  }
}

@mixin b {
  border: 1px solid green;
}
