// Colors
$grey: #e6e6e6;
$border-grey: rgba(0, 0, 0, 0.2);
$text-grey: rgba(0, 0, 0, 0.3);
$light-grey: rgba(0, 0, 0, 0.05);
$mid-grey: rgba(0, 0, 0, 0.55);
$dark-grey: rgba(0, 0, 0, 0.65);
$red: #ff0000;
$dark-red: #cc0000;

// Sizes
$header-height: 60px;

@mixin iconButton {
  background-color: inherit;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin buttonBehavior($hover-color: inherit, $click-color: rgba(0, 0, 0, 0.2)) {
  transition: background-color 0.2s;
  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
  &:active {
    background-color: $click-color;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px solid green;
}
